<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WebSearch</title>

  <link rel="stylesheet" type="text/css" href="segmented-control.css">
  <link rel="stylesheet" type="text/css" href="checkbox.css">
  <link rel="stylesheet" type="text/css" href="bar.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  
</head>

<body>

  <header>
    <h1>
      <a href="/search"><span class="brand">Historesearch</span></a></span>, by
      <span class="brand">H4104</span>
    </h1>
  </header>

  <div class="separator"></div>

  <section role="content" id="particles-js">

    <canvas style="z-index: -1; width: 100%; height: 100%; position:absolute; top:0px; left:0px"></canvas>

    <div id="container">

      <h2>What do you want to know ?</h2>
      <p>Welcome to Historesearch, the first event analysis website !<br/>
      Please enter a few keywords below, and set parameters.</p>

      <form method="post" action="/search">

        <p style="margin: 0.5rem;"> Confidence : <span class="val" id="confidence">0.6</span></p> 0.1 <input type="range" id="slider_confidence" min="1" max="10" name="confidence"> 1.0 <br/>
        <p style="margin: 0.5rem;"> Support : <span class="val" id="support">60</span></p> 20 <input type="range" id="slider_support" min="20" max="100" name="support"> 100 <br/><br/>
        <input style="margin-top: 2.5rem;" type="text" name="keywords" placeholder="Enter keywords here...">
        <button type="submit" name="searchButton">Search</button>

      </form>

    </div>

  </section>

  <div class="separator"></div>

  <footer>
    <p>Copyright (c) 2015 <a href="/search" target="_blank">@Historesearch</a>.</p>
  </footer>

  <script src="main.js"></script>
  <script src="particles.js"></script>
</body>
</html>