<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WebSearch</title>

  <link rel="stylesheet" type="text/css" href="segmented-control.css">
  <link rel="stylesheet" type="text/css" href="checkbox.css">
  <link rel="stylesheet" type="text/css" href="bar.css">
  <link rel="stylesheet" type="text/css" href="main.css">
  
</head>

<body>

  <header>
    <h1>
      <a href="/search"><span class="brand">Historesearch</span></a></span>, by
      <span class="brand">H4104</span>
    </h1>
  </header>

  <div class="separator"></div>

  <section role="content" id="particles-js">

    <canvas style="z-index: -1; width: 100%; height: 100%; position:absolute; top:0px; left:0px"></canvas>

    <div id="container">

      <h2>What do you want to know ?</h2>
      <p>Welcome to Historesearch, the first event analysis website !<br/>
      Please enter a few keywords below.</p>


      <form method="post" action="/search">

        <input type="text" name="keywords" placeholder="Enter keywords here...">
        <button type="submit" name="searchButton">Search</button>

      </form>

    </div>

  </section>

  <div class="separator"></div>

  <footer>
    <p>Copyright (c) 2015 <a href="/search" target="_blank">@Historesearch</a>.</p>
  </footer>

  <script src="particles.js"></script>

</body>
</html>